<html>
  <head>
    <title>3695 RasPi</title>
  </head>
  <body>
    <h1>3695 Raspberry Pi Video Stream</h1>
    <img src="{{ url_for('front_feed') }}" id= Stream>
	<button onclick="front_cam()" id= demo2>Switch Cam</button>
	
	<script>
	function back_cam() {
		document.getElementById("Stream").src = "";
		document.getElementById("demo2").onclick = function() {front_cam()};
		document.getElementById("Stream").src = "{{ url_for('front_feed') }}";
	}
	function front_cam() {
		document.getElementById("Stream").src = "";
		document.getElementById("demo2").onclick = function() {back_cam()};
		document.getElementById("Stream").src = "{{ url_for('back_feed') }}";
	}
	</script>
	
  </body>
</html>
